#!/bin/bash
        apt -y update
        apt -y install apache2
        sed -i 's/80/${port_number}/' /etc/apache2/ports.conf
        systemctl enable apache2
        systemctl restart apache2
        echo '<html><h1>Hello From Your Linux Web Server running on port ${port_number} </h1></html>' > /var/www/html/index.html
